cxf-webapp/src/main/resources/city_search.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://spring.io/guides/gs-producing-web-service"
           targetNamespace="http://spring.io/guides/gs-producing-web-service" elementFormDefault="qualified">

    <xsd:element name="getCityRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="zipCode" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getCityResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="cities" type="xsd:string" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>