cxf-webapp/src/main/resources/city_search.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<xs:complexType name="ville">
		<xs:sequence>
			<xs:element name="name" type="xs:string" />
			<xs:element name="cp" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="urlset">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ville" type="ville" maxOccurs="unbounded" />
			</xs:sequence>
			<xs:attribute name="nbr" type="xs:int" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>